@media (max-width: 992px) {
    .categCardContain {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .categCardContain {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .categCardContain {
        grid-template-columns: repeat(1, 1fr);
    }
}