/* ---------- Navbar Responsive ---------- */

@media (max-width: 992px) {
    .navbar {
        padding: 12px 30px;
    }
}

@media (max-width: 768px) {
    .navRightCntnt, .dropdownbBtn {
        display: none;
    }
    .mobileMenu-btn {
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .mobileMenu-btn img {
        width: 100%;
        height: auto;
    }
    .navbar {
        padding: 12px 20px;
    }
    .navLeftCntnt .logo {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 16px;
        height: 54px;
    }
}
