@media (max-width: 992px) {
    .reasonCardContain {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .reasonCardContain {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 480px) {
    .reasonTxt {
        font-size: 16px;
    }
}